.map
  width: 100% !important
  height: 100% !important
  position: relative
  &-section
    padding-top: 152px
    position: relative
    z-index: 2
    background-color: #fff
    @media screen and ( max-width: 1366px )
      padding-top: 102px
  &-wrapper
    margin-top: 47px
    height: 600px
    @media screen and ( max-width: 1366px )
      height: 548px
    @media screen and ( max-width: 550px )
      height: 350px
    &.js-lazy-map
      background-image: url(/app/build/img/map.jpg)
      background-repeat: no-repeat
      background-size: cover
      cursor: pointer
  &-balloon
    &__header
      font-size: 28px
      line-height: 32px
      color: #000
      font-family: 'Jost'
      font-weight: 400
      margin-bottom: 20px
      display: inline-block
      @media screen and ( max-width: 1366px )
        font-size: 24px
        line-height: 29px
        margin-bottom: 13px
      @media screen and ( max-width: 550px )
        font-size: 20px
        line-height: 26px

    &__text
      font-size: 20px
      line-height: 30px
      color: #000
      font-family: 'Jost'
      font-weight: 400
      @media screen and ( max-width: 1366px )
        font-size: 18px
        line-height: 28px
      @media screen and ( max-width: 550px )
        font-size: 16px
        line-height: 20px

    &__href
      font-size: 20px
      line-height: 30px
      color: #000
      font-family: 'Jost'
      font-weight: 400
      display: inline-block
      margin-bottom: 26px
      @media screen and ( max-width: 1366px )
        font-size: 18px
        line-height: 28px
        margin-bottom: 17px
      @media screen and ( max-width: 550px )
        font-size: 16px
        line-height: 20px
.ymaps-2-1-78-balloon-pane
  left: calc(100% - 360px - 90px) !important
  top: 136px !important
  @media screen and ( max-width: 1366px )
    left: calc(100% - 378px)!important
    top: 126px!important
  @media screen and ( max-width: 550px )
    left: calc(100% - 378px)!important
    top: 30px!important
  .link--orange
    font-size: 19px
    line-height: 28px
    padding: 7px 28px 7px
    border-radius: 28px
    font-family: 'Jost'
    display: inline-block
    margin-bottom: 10px
    @media screen and ( max-width: 1366px )
      font-size: 17px
      line-height: 25px
      padding: 7px 25px
    @media screen and ( max-width: 550px )
      font-size: 16px
      line-height: 20px
.ymaps-2-1-78-balloon-overlay,
.ymaps-2-1-78-balloon
  top: 0px !important
  left: 0px !important
.ymaps-2-1-78-balloon
  max-width: 360px !important
  width: 360px !important
  box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.1) !important
  padding: 0px !important
  @media screen and ( max-width: 1366px )
    max-width: 315px !important
    width: 315px !important
  @media screen and ( max-width: 550px )
    max-width: 250px !important
    width: 250px !important
  @media screen and ( max-width: 497px )
    height: auto !important
    background-color: transparent !important
    box-shadow: none !important
.ymaps-2-1-78-balloon__content
  padding: 40px !important
  margin-right: 0px !important
  padding-top: 37px !important
  padding-bottom: 29px !important
  @media screen and ( max-width: 1366px )
    padding-top: 33px !important
  @media screen and ( max-width: 550px )
    padding: 15px !important
  @media screen and ( max-width: 497px )
    height: auto !important
    > ymaps
      height: auto !important
.ymaps-2-1-78-balloon__tail
  display: none !important
.ymaps-2-1-78-balloon__close-button
  width: 14px!important
  height: 11px!important
  opacity: 1!important
  margin-right: 17px!important
  margin-top: 21px!important
  background-size: cover !important
  transition: all 0.4s
  &:hover
    opacity: 0.5 !important
    transition: all 0.4s
.ymaps-2-1-78-placemark-overlay
  &:focus
    .ymaps-2-1-78-image
      background-image: url(/app/build/img/map-pin.png) !important
.placemark
  width: 22px
  height: 22px
  background-color: $blue
  border-radius: 50%
.ymaps-2-1-78-balloon-content__footer
  @media screen and ( max-width: 497px )
    margin-bottom: 10px !important
.ymaps-2-1-78-balloon-panel
  @media screen and ( max-width: 497px )
    top: -300px !important
