.popup
  width: 100%
  height: 100%
  opacity: 0
  visibility: hidden
  position: fixed
  top: 0
  left: 0
  z-index: 100
  transition: all 0.4s
  overflow: hidden
  &-open
    opacity: 1
    visibility: visible
    transition: all 0.4s
  &-overlay
    background-color: rgba(0,0,0,0.75)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 101
  &-container
    margin: 50px auto 0px
    padding: 92px 113px 100px
    background-color: #fff
    position: relative
    z-index: 102
    @media screen and ( max-height: 870px )
      padding: 50px 70px
    @media screen and ( max-width: 950px )
      padding: 50px 70px
    @media screen and ( max-width: 767px )
      padding: 50px 30px
    @media screen and ( max-width: 400px )
      padding: 50px 20px
  &-limiter
    padding-right: 17px
  &-callback
    .popup-container
      width: 1366px
      overflow: auto
      @media screen and ( max-width: 1366px )
        width: 950px
      @media screen and ( max-height: 780px )
        margin-top: 0px
        height: 100%
      @media screen and ( max-height: 700px )
        width: calc(100% + 17px)
      @media screen and ( max-width: 950px )
        width: calc(100% + 17px)
        margin: 0px
        height: 100%
  &-video
    .popup-container
      width: 1366px
      height: 650px
      padding: 0
      background-color: transparent
      @media screen and ( max-width: 1366px )
        width: 950px
        height: 500px
      @media screen and ( max-height: 780px )
        padding: 20px 20px 0px 20px
        height: 400
      @media screen and ( max-height: 700px )
        width: 100%
      @media screen and ( max-width: 950px )
        width: 100%
        padding: 20px 20px 0px 20px
        height: 400px
      iframe
        width: 100%
        height: 100%
        position: relative
        z-index: 100
      .popup-close
        top: -40px
        right: 0px
        @media screen and ( max-width: 950px )
          right: 40px
        @media screen and ( max-height: 700px )
          right: 40px

  &-thanks
    .popup-container
      width: 746px
      overflow: auto
      @media screen and ( max-width: 767px )
        width: 500px
      @media screen and ( max-width: 500px )
        width: calc(100% + 17px)
        margin: 0px
        height: 100%
    &__btn
      margin: 0 auto
      text-align: center

  &-title
    font-size: 48px
    line-height: 52px
    color: #000
    text-align: center
    margin-bottom: 43px
    @media screen and ( max-width: 1366px )
      font-size: 38px
      line-height: 42px
    @media screen and ( max-width: 767px )
      font-size: 26px
      line-height: 35px
      margin-bottom: 30px
    @media screen and ( max-width: 550px )
      font-size: 20px
      line-height: 28px

  &-text
    font-size: 20px
    line-height: 30px
    color: #000
    text-align: center
    margin-bottom: 47px
    @media screen and ( max-width: 767px )
      font-size: 18px
      line-height: 24px
    @media screen and ( max-width: 550px )
      font-size: 16px
      line-height: 20px
  &-form
    &__container
      @include dfr()
      width: 100%
      @media screen and ( max-width: 600px )
        flex-direction: column
    &__wrapper
      margin-right: 48px
      width: 100%
      @media screen and ( max-width: 600px )
        margin-right: 0px
        margin-bottom: 21px
      &:last-child
        margin-right: 0px
    &__bottom
      @include dfc()
      align-items: center
      margin-top: 40px
    &__btn
      margin-top: 51px
  &-close
    position: absolute
    top: 40px
    right: 72px
    width: 21px
    height: 21px
    transform: rotate(0deg)
    transition: all 0.4s
    @media screen and ( max-width: 767px )
      top: 30px
      right: 40px
    &:hover
      transform: rotate(90deg)
      transition: all 0.4s
.popup-thanks__btn
  position: relative
  top: auto
  right: auto

.cookie
  width: 425px
  height: auto
  padding: 35px 37px 35px 39px
  background-color: #fff
  display: flex
  flex-direction: column
  align-items: flex-start
  opacity: 0
  visibility: hidden
  position: fixed
  bottom: 70px
  right: 70px
  transition: all 0.4s
  z-index: 100
  box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.1)
  @media screen and ( max-width: 767px )
    padding: 25px
    bottom: 35px
    right: 35px
  @media screen and ( max-width: 550px )
    width: 100%
    bottom: 0px
    right: 0px
  &-open
    opacity: 1
    visibility: visible
    transition: all 0.4s
  &-text
    font-size: 20px
    line-height: 30px
    color: #000
    margin-bottom: 30px
    @media screen and ( max-width: 767px )
      font-size: 18px
      line-height: 26px
      margin-bottom: 20px
    a
      font-size: 20px
      line-height: 30px
      color: #093a9e
      border-bottom: 1px solid rgba(9, 58, 158, 0.15)
      transition: all 0.4s
      @media screen and ( max-width: 1366px )
        font-size: 20px
        line-height: 30px
      @media screen and ( max-width: 767px )
        font-size: 18px
        line-height: 24px
      @media screen and ( max-width: 550px )
        font-size: 16px
        line-height: 20px
      &:hover
        border-bottom-color: rgba(9, 58, 158, 0)
  .link--orange
    font-size: 19px
    line-height: 28px
    padding: 7px 25px 7px
