.goods
  &-list
    @include dfr()
    justify-content: center
    flex-wrap: wrap
  &-item
    margin: 0 20px 15px 20px
    text-align: center
    a
      font-size: 20px
      line-height: 26px
      color: #000
      display: inline
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
      transition: all 0.4s
      text-align: center
      @media screen and ( max-width: 1366px )
        font-size: 18px
        line-height: 22px
      &:hover
        border-bottom-color: rgba(0, 0, 0, 0)
      .underline
        span
          top: 6px
.product
  margin-top: 62px
  overflow: hidden
  position: relative
  @media screen and ( max-width: 1366px )
    margin-top: 58px
  @media screen and ( max-width: 767px )
    margin-top: 25px
  .container, .price
    position: relative
    z-index: 2
  &-card
    margin-top: 77px
    position: relative
    z-index: 2
    &__container
      max-width: 1200px
      margin: 0 auto
      padding-top: 94px
      padding-bottom: 110px
      @include dfr()
      justify-content: space-between
      @media screen and ( max-width: 1366px )
        max-width: 960px
        padding-bottom: 70px
      @media screen and ( max-width: 1100px )
        max-width: none
        width: 100%
        padding: 94px 20px 70px
      @media screen and ( max-width: 767px )
        padding: 50px 20px
      @media screen and ( max-width: 650px )
        flex-direction: column
    &__number
      font-size: 38px
      line-height: 42px
      margin-bottom: 44px
      padding-right: 20px
      @media screen and ( max-width: 1366px )
        font-size: 30px
        line-height: 36px
      @media screen and ( max-width: 767px )
        font-size: 24px
        line-height: 30px

    &__desc
      max-width: 660px
      padding-right: 20px
      @media screen and ( max-width: 1366px )
        max-width: 480px
        padding-right: 20px
      @media screen and ( max-width: 650px )
        max-width: none
        padding: 0px
      p
        color: #000
        margin-bottom: 24px
    &__img
      min-width: 380px
      min-height: 380px
      max-width: 380px
      max-height: 380px
      overflow: hidden
      margin-top: 8px
      @media screen and ( max-width: 1366px )
        min-width: 310px
        min-height: 310px
        max-width: 310px
        max-height: 310px
      @media screen and ( max-width: 950px )
        min-width: 250px
        min-height: 250px
        max-width: 250px
        max-height: 250px
      @media screen and ( max-width: 550px )
        margin-top: 15px
      &:hover
        img
          transform: scale(1.05)
      img
        width: 100%
        height: 100%
        object-fit: cover
        display: block
        transition: transform 1s 0s ease
    &__parallax
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1
    &-parallax-elem
      position: absolute
      z-index: 10
      @media screen and ( max-width: 1000px )
        display: none !important
      &--1
        top: 190px
        left: 50px
        // animation-name: parallaxFly1
        // animation-iteration-count: infinite
        // animation-duration: 15s
        // animation-timing-function: linear
        // @media screen and ( max-width: 1366px )
        //   top: 300px!important
        //   left: 0px!important
        // @media screen and ( max-width: 1100px )
        //   top: 100px !important
      &--2
        top: 810px!important
        left: 620px!important
        @media screen and ( max-width: 1366px )
          top: 830px!important
          left: 335px!important
      &--3
        top: 290px!important
        left: calc(50% + 90px)!important
        @media screen and ( max-width: 1366px )
          top: 295px!important
          left: calc(50% + 30px)!important
      &--4
        top: 680px !important
        left: calc(50% + 355px)!important
        @media screen and ( max-width: 1366px )
          top: 655px!important
          left: calc(50% + 410px)!important
      &--5
        top: 120px !important
        right: 400px !important
        left: auto !important
        @media screen and ( max-width: 1366px )
          top: 130px!important
          right: 120px!important
      &--6
        top: 920px !important
        right: 180px!important
        left: auto!important
        @media screen and ( max-width: 1366px )
          top: 1005px!important
          right: 20px!important

@keyframes parallaxFly1
  0%
    top: 190px
    left: 50px
  50%
    top: 100px
    left: 150px
  100%
    top: 190px
    left: 50px